html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    color: #649844;
}

main {
    max-width: 900px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: #edf0e0;
}

h1 {
    margin: 10px;
    font-size: 24px;
}

.container:hover {
    color: #000000;
}

.container:hover label::after {
    display: block;
}

label {
    position: relative;
    display: block;
    width: inherit;
    padding: 10px;
    border-top: 1px solid #c9cbc1;
    line-height: 25px;
}

label:hover {
    cursor: pointer;
}

label::after {
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
    content: '';
    background: url('images/arrow.svg');
    background-position: center;
    background-size: 15px;
    height: 15px;
    width: 15px;
    transition: 0.3s;
}

.item {
    position: absolute;
    visibility: hidden;
}

.content {
    display: none;
    width: inherit;
    margin: 15px auto;
    justify-content: center;
}

img {
    width: 300px;
    height: auto;
}

input:checked + label > .content,
label:hover > .content,
.content:hover {
    display: flex;
}

img:hover label::after {
    transform: rotate(180deg);
}

input:checked + label::after,
label:hover::after {
    transform: rotate(180deg);
}
